.section {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  min-width: 100%;
  height: 700px;
  padding-top: 50px;
  background-color: #eff;
}
.salessection {
  padding-top: 50px;
}
.imgContainer {
  display: flex;
  min-width: 100%;
  height: auto;
  gap: 10px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  height: 400px;
  background-color: #fff;
  margin-left: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.img1 {
  width: 150px;
  height: 260px;
  border-radius: 5px;
}
.img2 {
  width: 120px;
  height: 200px;
  border-radius: 5px;
}
.img3 {
  width: 150px;
  height: 260px;
  border-radius: 5px;
}
.img4 {
  width: 100px;
  height: 240px;
  border-radius: 5px;
}
